<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>OTHERobjects Workbench</title>
<script type="text/javascript" src="/resources/otherobjects.resources/static/firebug/firebug.js"></script>
<script type="text/javascript" src="/resources/otherobjects.resources/static/extjs/src/ext-base.js"></script>
<script type="text/javascript" src="/resources/otherobjects.resources/static/extjs/src/ext-all-debug.js"></script>
<script type="text/javascript" src="/resources/otherobjects.resources/static/edit.js"></script>
<script type="text/javascript" src="/resources/otherobjects.resources/static/list-field.js"></script>
<script type="text/javascript" src="/dwr/engine.js"></script>
<script type="text/javascript" src="/dwr/interface/ContentService.js"></script>
<script type="text/javascript" src="/dwr/interface/NavigatorService.js"></script>
<link rel="stylesheet" type="text/css" href="/resources/otherobjects.resources/static/workbench.css" />
<link rel="stylesheet" type="text/css" href="/resources/otherobjects.resources/static/extjs/src/ext-all.css" />
<style>
.inline-button {float:left!important;}
</style>
</head>

<body>

<div id="test" style="padding:10px"></div>

<a href="javascript:addField()">Add</a>

<script>
var frm;

function addField() {
	var values = {title:'Rich', tags:["T One","T Two","T Three"]};
	frm.setValues(values);
}


function buildForm()
{
	// TODO Find out about QuickTips
	Ext.QuickTips.init();
	
	// Show form validation warnings next to each field
	Ext.form.Field.prototype.msgTarget = 'side';
	
	// Create form
    frm = new Ext.form.Form({
		labelAlign: 'left',
		buttonAlign: 'left',
		monitorValid: true,
		labelWidth: 120
    });


	frm.add(OO.EditForm.buildField({name:'one', type:'reference', relatedType:'Article', label:'Test'}));
	
	//form.add(new Ext.form.OOListField({fieldLabel:'ID', id:"idx", name:'idx', width:'200px', allowBlank:true, disabled:false}));

    frm.addButton('Save', function() {
		form.submit({url:'/', bindForm:true, waitMsg:'Saving Data...' });   
	});
	
    frm.render('test');
}

Ext.onReady(buildForm);





</script>

</body>
</html>