<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>OTHERobjects Workbench</title>
<script type="text/javascript" src="/resources/otherobjects.resources/static/firebug/firebug.js"></script>
<script type="text/javascript" src="/resources/otherobjects.resources/static/extjs/src/ext-base.js"></script>
<script type="text/javascript" src="/resources/otherobjects.resources/static/extjs/src/ext-all-debug.js"></script>
<script type="text/javascript" src="/dwr/engine.js"></script>
<script type="text/javascript" src="/dwr/interface/ContentService.js"></script>
<script type="text/javascript" src="/dwr/interface/NavigatorService.js"></script>
<link rel="stylesheet" type="text/css" href="/resources/otherobjects.resources/static/workbench.css" />
<link rel="stylesheet" type="text/css" href="/resources/otherobjects.resources/static/extjs/src/ext-all.css" />
<style>
.inline-button {float:left!important;}
</style>
</head>

<body>

#set($dao = $daoService.getDao("DynaNode"))
#set($home = $dao.getByPath("/site/welcome-2.html"))




#foreach($v in $dao.getVersions($home))
<hr/>

<table>
<tr>
<th>Property</th>
<th>Current value</th>
<th>Old value</th>
</tr>
#foreach($p in $home.typeDef.properties)
#set($current=$!home.get($p.name))
#set($old=$!v.get($p.name))
<tr #if($old != $current)style="background:#FFBBBB;"#end>
<td>$p.name</td>
<td>$!current</td>
<td>$!old</td>
</tr>
#end
</table>


#end

<a id="go" href="#">Go</a>

<script>
function done(msg){
	  alert(msg);
}
function init(){
	   Ext.get('go').on('click', function(e){
        Ext.MessageBox.show({
           title: 'Publishing comment',
           msg: 'Please describe the changes you have made:',
           width:300,
           buttons: Ext.MessageBox.OKCANCEL,
           animEl: 'go',
           fn: done,
           multiline: true
       });
    });
}

Ext.onReady(init);
</script>

</body>
</html>