<div id="uploader" class="content uploader">
		
		<h1>Bulk image uploader</h1>
		
		<p>Use this feature to upload multiple files in one step.</p>
		<p>You can select any supported image file: GIFs, JPEGs or PNGs.</p>
		<p>You will not be able to choose files larger than the maximum allowed size which is 2MB.</p>
		
		<div id="SWFUploadTarget">
		</div>

		<p class="queueinfo" id="queueinfo">The upload queue is currently empty. Please select some files.</h4>

		<div id="SWFUploadFileListingFiles"></div>
</div>

	
<script>
initSwfUpload();
</script>