<div class="welcome">
<div class="welcome-col">

<div class="welcome-block">
<h1>Welcome to OTHERobjects CMS Milestone 1</h1>
<p>Status a la Debug page.</p>
</div>

<div class="welcome-block">
<h1>A quick guide to using the workbench</h1>
<ul>
<li>Use the Navigator and right click to add/modify folders.</li>
<li>In the Listing. Click to select. Double-click to edit.</li>
<li>The Preview panel will always preview the currently selected item.</li>
</ul>
</div>

</div>
<div class="welcome-col">

<div class="welcome-block">
<h1>New and noteworthy</h1>
<h2>Security</h2>
<ul>
<li>Support for administrators (with full access) and guests (who can only browse the site).</li>
<li>Passwords are stored securely and your login details can be remembered.</li>
<li>Usernames do not have to be email addresses although it is strongly recommended that they are 
and this will probably be enforced for most sites.</li>
</ul>
</div>

</div>
</div>

