<div class="welcome">
<div class="welcome-col">

<div class="welcome-block">
<h1>Welcome to OTHERobjects CMS Milestone 1</h1>
<p>Status a la Debug page.</p>
<p>Bug reporting howto.</p>
</div>

<div class="welcome-block">
<h1>A quick guide to using the workbench</h1>
<ul>
<li>Use navigator and right click to add/modify folders.</li>
<li>In the listing. Click to select. Double-click to edit.</li>
<li>The preview panel will always preview the curretnly selected item.</li>
</ul>
</div>


</div>
<div class="welcome-col">

<div class="welcome-block">
<h1>New and noteworthy</h1>
<p>What's new, what's implemented and what isn't.</p>
<p>Links that actually do something.</p>
<p>Some kind of activity/status log -- mapbe include debug page summary.</p>
<p>Bug reporting.</p>
</div>

</div>
</div>

