<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>OTHERobjects Workbench</title>
<script type="text/javascript" src="/resources/otherobjects.resources/static/firebug/firebug.js"></script>
<script type="text/javascript" src="/resources/otherobjects.resources/static/extjs/src/ext-base.js"></script>
<script type="text/javascript" src="/resources/otherobjects.resources/static/extjs/src/ext-all.js"></script>
<script type="text/javascript" src="/resources/otherobjects.resources/static/workbench.js"></script>
<script type="text/javascript" src="/resources/otherobjects.resources/static/grid.js"></script>
<script type="text/javascript" src="/resources/otherobjects.resources/static/preview.js"></script>
<script type="text/javascript" src="/resources/otherobjects.resources/static/edit.js"></script>
<script type="text/javascript" src="/resources/otherobjects.resources/static/navigator.js"></script>
<script type="text/javascript" src="/dwr/engine.js"></script>
<script type="text/javascript" src="/dwr/interface/ContentService.js"></script>
<script type="text/javascript" src="/dwr/interface/NavigatorService.js"></script>
<link rel="stylesheet" type="text/css" href="/resources/otherobjects.resources/static/workbench.css" />
<link rel="stylesheet" type="text/css" href="/resources/otherobjects.resources/static/extjs/src/ext-all.css" />
</head>

<body>

<div id="header" class="x-layout-inactive-content">
<p><em>OTHERobjects Workbench</em></p>
</div>
    
<div id="select" class="x-layout-inactive-content">
	<div id="navigator-tree"></div>
</div>

<div id="content"></div>
<div id="listing-panel"></div>

<div id="status" class="x-layout-inactive-content">
<p>OTHERobjects CMS Milestone 1</p>
</div>

</body>
</html>