/* Super Reset */
DIV.oo-icon, DIV.oo-hud, DIV.oo-hud * {padding:0; margin:0; border:0;}

/* Hud CSS */
DIV.oo-icon {position:fixed; background:url(assets/hud-icon.png); width:40px; height:40px; top:0; right:0; opacity:0.8;}
DIV.oo-icon:hover {opacity:1; cursor:pointer;}

HTML.oo {background:#666 url(assets/html-background.png) fixed;}
HTML.oo BODY {position:absolute; width:100%; -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8); -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8); overflowx-x:hidden;}

/* Text Styling */
.oo-text-style {font:12px Arial, sans-serif; color:#FFF!important; text-shadow:1px 1px 0 rgba(0,0,0,1);}

/* Panel */
.oo-panel {-webkit-border-image:url(../hud/assets/panel.png) 20 18 30 18 stretch stretch; -moz-border-image:url(../hud/assets/panel.png) 20 18 30 18 stretch stretch; border-width:20px 18px 30px 18px;}

/* Search Input */
.oo-search-input {-webkit-border-image:url(assets/search-input.png) 0 15 0 29 stretch stretch; background:#CCC;  border-width:0 15px 0 29px; font:12px/14px Arial, sans-serif; color:#000; outline:none; width:100%; height:26px; -webkit-border-radius:13px; -moz-border-radius:13px; margin-top:-3px;}

/* Edit Zones */
.oo-edit-zone {position:absolute; z-index:9000; text-align:center; background-color:rgba(0, 0, 0, 0.05); -webkit-transition:background-color 0.2s linear, border-color 0.2s linear;  -moz-transition:background-color 0.2s linear, border-color 0.2s linear;}
.oo-edit-zone-edit {background-color:rgba(255, 0, 0, 0.05);}
.oo-edit-zone-live {background-color:rgba(0, 255, 0, 0.05);}
.oo-edit-zone:hover {}
.oo-edit-zone:hover .oo-edit-label {visibility:visible;}

/* Edit Label */
.oo-edit-label {-webkit-border-image:url(assets/edit-label.png) 16 19 23 19 stretch stretch; -moz-border-image:url(assets/edit-label.png) 16 19 23 19 stretch stretch; display:inline-block; border-width:16px 19px 23px; margin-top:-10px; visibility:hidden;}
.oo-edit-label-actions {opacity:0.8; cursor:pointer; background:url(assets/edit-actions-sprite.png) 100% 2px no-repeat; margin:-7px -5px -6px -4px; padding:0 18px 0 0;}
.oo-edit-label-actions:hover {opacity:1; background-position:100% -108px;}

/* Edit State Gems */
.oo-edit-state {background:url(assets/edit-state-sprite.png) no-repeat; padding:2px 0 1px 18px;}
.oo-edit-state-live {background-position:0 2px;}
.oo-edit-state-submitted {background-position:0 -59px;}
.oo-edit-state-edit {background-position:0 -120px;}
.oo-edit-state-embargoed {background-position:0 -181px;}
.oo-edit-state-default {background-image:0 -242px;}
.oo-edit-state-none {background-image:none; margin-left:0; padding-left:0;}

/* DANGER - Quarantine - DANGER*/

/* Menu */
#OoMenu {position:absolute; top:0; left:0; width:750px; height:500px;}

/* Listing */
.oo-title {text-align:left!important;} 
.oo-listing TD {text-align:left!important;}
.oo-listing TABLE {border-spacing:0; border-collapse:separate; margin-top:5px;}
.oo-listing THEAD {display:block;}
.oo-listing THEAD TH {text-align:left!important;-webkit-border-image:url(assets/listing-header.png) 8 8 1 8 stretch stretch; border-width:8px 0 1px 0; background:#FFF; text-align:left; line-height:-20px; padding:3px 10px 8px 10px; color:#333; -webkit-transition:background-color 0.1s linear; text-shadow:0px 0px 0 rgba(0,0,0,0);}
.oo-listing THEAD TH.oo-listing-button:hover {cursor:pointer; background-color:#278AD6; color:#FFF;}
.oo-listing THEAD TH:first-child {border-left:8px; -webkit-border-top-left-radius:8px; padding-right:7px;}
.oo-listing THEAD TH:last-child {border-right:8px; -webkit-border-top-right-radius:8px; padding-right:28px;}


.oo-listing TFOOT {display:block;}
.oo-listing TFOOT TR TD {-webkit-border-image:url(assets/listing-footer.png) 0 8 8 8 stretch stretch; border-width:0 0 8px 0; background-color:#CCC; text-align:left; line-height:-20px; padding:8px 10px 3px 10px; color:#333; -webkit-transition:background-color 0.1s linear; text-shadow:0px 0px 0 rgba(0,0,0,0);}
.oo-listing TFOOT TR.oo-listing-arrow TD {cursor:pointer;}
/* .oo-listing TFOOT TR.oo-listing-arrow:hover TD {background-color:#278AD6; color:#FFF;} */
.oo-listing TFOOT TD:first-child {border-left:8px; -webkit-border-bottom-left-radius:8px; padding-right:7px;}
.oo-listing TFOOT TD:last-child {border-right:8px; -webkit-border-bottom-right-radius:8px; padding-right:37px;}


.oo-listing TBODY {display:block; overflow-y:scroll; max-height:370px; padding:0px 0; border-right:2px solid #000; background:#FFF url(assets/listing-body.png) repeat-y;}
.oo-listing TBODY TD {vertical-align:top; -webkit-border-image:url(assets/listing-row.png) 0 6 1 8 stretch stretch; border-width:0 0 1px 0; padding:8px 10px 8px 10px; color:#333; background:#FFF; -webkit-transition:background-color 0.2s linear; text-shadow:0px 0px 0 rgba(0,0,0,0);}
.oo-listing TBODY TR:nth-child(even) TD {background-color:#F7F7F7;}
.oo-listing TR.oo-listing-arrow TD {cursor:pointer;}
.oo-listing TBODY TR.oo-listing-arrow:hover TD {background-color:#EAF4FF;}
.oo-listing TR.oo-listing-arrow:active TD {background-color:#77B6E6;}
.oo-listing TBODY TD:first-child {border-left:8px;}
.oo-listing TR.oo-listing-arrow TD:last-child {background-image:url(assets/arrow-list.png); background-position:100% 50%; background-repeat:no-repeat; padding-right:35px;}
.oo-listing TR.oo-listing-arrow:hover {background-color:#CCC;}
.oo-listing-field TD:first-child {font-weight:bold; font-size:11px; line-height:16px;}
/*.oo-listing-field TEXTAREA {border:none; font:12px/16px Arial, sans-serif; height:auto; background:none; color:#333; resize:none; outline:none; width:100%; margin:-8px 0; padding:8px 0;}*/
.oo-listing TR.oo-listing-field:hover TD {background-color:#EAF4FF;}
.oo-listing-field UL {margin:0; padding-left:1.3em;}
.oo-listing-field LI {list-style:url(assets/listing-bullet.png); margin:0; padding:0 0 5px 5px;}

.oo-actions {display:table; width:100%;}
.oo-actions .oo-action {display:table-cell;}
.oo-action .oo-button {margin:5px 5px 0 0; padding:0px;}
.oo-action:last-child .oo-button {margin-right:0;}
.oo-action .oo-arrow {padding:0 23px 0 15px; text-align:left;}


/* Button */
.oo-button {-webkit-border-image:url(assets/button.png) 10 8 10 8 stretch stretch; border-width:10px 8px; -webkit-border-radius:9px; padding:0; margin:10px -3px -5px -3px; padding:0 0 0 3px; -webkit-transition:background-color 0.2s linear; cursor:pointer; font-weight:bold; text-shadow:0; background-color:#444;}
.oo-button:hover {background-color:#278AD6;}

.oo-button-black {background-color:#000;}
.oo-button-black:hover {background-color:#000;}
.oo-button-red {background-color:#600;}
.oo-button-red:hover {background-color:#A00;}
.oo-button-green {background-color:#262;}
.oo-button-green:hover {background-color:#292;}
.oo-button-blue {background-color:#444;}
.oo-button-blue:hover {background-color:#278AD6;}

/* Design Mode */
.oo-design-tools {visibility:hidden; position:absolute; left:10px; top:10px;}
.oo-design-mode .oo-design-tools {visibility:visible; display:block!important;}
.oo-design-trash {color:#FFF; width:75px; height:75px;}

.oo-design-mode .oo-region {border:4px dashed #BBB; margin-top:20px; min-height:40px;}
.oo-design-mode .oo-block {border:4px dashed #F33; margin:5px; cursor:move;}

.oo-region-label {-webkit-border-image:url(assets/edit-label.png) 16 19 23 19 stretch stretch; -moz-border-image:url(assets/edit-label.png) 16 19 23 19 stretch stretch; display:inline-block;  border-width:16px 19px 23px; margin-bottom:-30px;}
.oo-region-label-actions {opacity:0.8; cursor:pointer; background:url(assets/edit-actions-sprite.png) 100% 2px no-repeat; margin:-7px -5px -6px -4px; padding:0 18px 0 0;}
.oo-region-label-actions:hover {opacity:1; background-position:100% -108px;}

.oo-row-button {cursor:pointer; background-image:url(assets/arrow-red.png); background-position:100% 50%; background-repeat:no-repeat; zpadding:10px 23px 10px 15px;}

.oo-block-overlay {position:absolute; background:#000; z-index:15; opacity:0.45; border:6px dashed red;}
.oo-block-new {text-align:center; background:#666; color:#FFF!important; padding:10px; font:bold 14px Arial; min-height:100px; margin:0px;}
.oo-block-error {text-align:center; border:6px dashed #F80; background:#FF0; color:#000; padding:10px; font:bold 14px Arial; min-height:100px; margin:0px 10px 10px 0px;}
.yuimenuitem {border:1px solid #000; text-align:left; background:#FFF; padding:2px;}
.yuimenuitem:hover {background:#AAA;}
.yuimenuitem A {color:#000!important;}