<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>OTHERobjects NG</title>
<script type="text/javascript" src="/resources/static/extjs/src/ext-base.js"></script>
<script type="text/javascript" src="/resources/static/extjs/src/ext-all.js"></script>
<script type="text/javascript" src="/resources/templates/workbench.js"></script>
<link rel="stylesheet" type="text/css" href="/resources/static/extjs/src/ext-all.css" />
</head>

<body>

<div id="header" class="x-layout-inactive-content">
<p><em>OTHERobjects NG Demo</em></p>
</div>
    
<div id="select" class="x-layout-inactive-content">
	<div id="select-tb"></div>
	<div id="select-tree" class="feed-list"></div>
</div>

<div id="content" class="x-layout-inactive-content" style="overflow:hidden; height:100%;">
	<div id="listing-tab">
		<div id="listing-toolbar"></div>
		<div id="listing-grid" style="overflow: hidden;height:100%;"></div>
	</div>
	<div id="edit-tab">
		<div id="edit-form"  style="padding-bottom:50px;"></div>
	</div>
	<div id="preview-tab" style="overflow: hidden;height:100%;"></div>
	<div id="template-designer-tab"></div>
	
</div>

<div id="status" class="x-layout-inactive-content"></div>

</body>
</html>