<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="secureObject1Dao" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<list>
				<value>org.otherobjects.cms.dao.SecureObject1Dao</value>
				<value>org.otherobjects.cms.dao.GenericDao</value>
		   	</list>
	   	</property>
	   <property name="interceptorNames">
	      <list>
	         <idref bean="secureObjectDao1Security"/>
	      </list>
	   </property>
		<property name="target" ref="secureObject1DaoTarget" />
	</bean>

   <bean id="secureObject1DaoTarget" class="org.otherobjects.cms.dao.SecureObject1DaoHibernate">
		<property name="sessionFactory" ref="sessionFactory"/>
   </bean>
</beans>