<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd ">

	<!-- Mail -->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="localhost" />
		<property name="port" value="2500"></property>
	</bean>

	<bean id="mailVelocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="resourceLoaderPath" value="classpath:org/otherobjects/cms/mail"></property>
		<!--		<property name="velocityProperties">-->
		<!--			<value>-->
		<!--				resource.loader=class-->
		<!--				class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader-->
		<!--			</value>-->
		<!--		</property>-->
	</bean>

	<bean id="mailService" class="org.otherobjects.cms.mail.MailService">
		<property name="velocityEngine" ref="mailVelocityEngine" />
		<property name="mailSender" ref="mailSender" />
	</bean>

</beans>