.clear {clear:both; display:block; visibility:hidden; height:1px; width:1px; overflow:hidden;}

/* Header */
.x-layout-panel-north { background-image: url(/resources/otherobjects.resources/static/graphics/header.gif); background-repeat: repeat-x; color:#FFF; font:bold 12px verdana, helvetica; overflow:hidden; padding:4px; border:0px solid #c3daf9!important; }
.x-layout-panel-north P { background: url(/resources/otherobjects.resources/static/graphics/logo.png) no-repeat 5px -5px; width:200px; height:100px; }
.x-layout-panel-north EM { display:none; }

/* Welcome */
.welcome {font:80% Arial; margin:20px;}
.welcome-col {width:45%; float:left; margin-right:20px;}
.welcome-block { border:3px solid #B2D0F7; background:white url(/resources/otherobjects.resources/static/graphics/block-bg.gif) repeat-x; padding:10px; margin-bottom:20px;}
.welcome-block H1 {color:#083772; font-weight:bold; padding-bottom:10px;}
.welcome P {padding-bottom:10px;}
.welcome UL {list-style:square; padding-left:20px; margin-top:5px;}

/* Panels */
#edit-panel .x-form {padding:10px;}

/* Status bar */
#status {font:70% Arial; background:#c3daf9 url('/resources/otherobjects.resources/static/extjs/images/default/grid/nowait.gif') no-repeat 2px 2px;	padding:5px 0px 0px 25px;	height:18px;}
#status.loading {background-image: url('/resources/otherobjects.resources/static/extjs/images/default/grid/loading.gif');}

/* Navigator */
.folder .x-tree-node-icon { background:transparent url(/resources/otherobjects.resources/static/extjs/images/default/tree/folder.gif)!important; }
.site-nav-item .x-tree-node-icon { background:transparent url(/resources/otherobjects.resources/static/icons/sitemap-color.png) 0px 1px no-repeat!important; }
.trash-nav-item .x-tree-node-icon { background:transparent url(/resources/otherobjects.resources/static/icons/bin-closed.png) -2px 1px no-repeat!important; }

/* Toolbar icons */
.add-btn .x-btn-text { background-image:url(/resources/otherobjects.resources/static/extjs/images/default/tree/drop-add.gif); }
.refresh-btn .x-btn-text { background-image:url(/resources/otherobjects.resources/static/extjs/images/default/grid/refresh.gif); }



/* Pending */

.plugin-btn .x-btn-text { background-image:url(/static/icons/plugin-add.png); }
.x-layout-panel-north {border:0px none;}
#edit-form {padding:10px;}

.favorites-folder .x-tree-node-icon { background:transparent url(/static/icons/heart.png) 0px 1px no-repeat!important; }
.resources-folder .x-tree-node-icon { background:transparent url(/static/icons/brick.png) 0px 1px no-repeat!important; }
.libraries-folder .x-tree-node-icon { background:transparent url(/static/icons/book.png) 0px 1px no-repeat!important; }
.designer-folder .x-tree-node-icon { background:transparent url(/static/icons/palette.png) 0px 1px no-repeat!important; }
.systemdata-folder .x-tree-node-icon { background:transparent url(/static/icons/cog.png) 0px 1px no-repeat!important; }
.datatypes-folder .x-tree-node-icon { background:transparent url(/static/icons/database-gear.png) 0px 1px no-repeat!important; }
.plugins-folder .x-tree-node-icon { background:transparent url(/static/icons/plugin.png) 0px 1px no-repeat!important; }
.scripts-folder .x-tree-node-icon { background:transparent url(/static/icons/script.png) 0px 1px no-repeat!important; }
.logs-folder .x-tree-node-icon { background:transparent url(/static/icons/pencil.png) 0px 1px no-repeat!important; }

.site-folder .x-tree-node-icon { background:transparent url(/static/icons/sitemap-color.png); }
.test-folder .x-tree-node-icon { background:transparent url(/static/icons/database-gear.png) no-repeat!important; }
.x-tree-node-expanded .x-tree-node-icon { background:transparent url(/static/images/default/tree/folder-open.gif); }
.bmenu .x-btn-text { background-image:url(/static/images/default/tree/drop-add.gif);}
.x-tabs-body {border:0px;}

.x-form-textarea {font-family:monospace;}
