<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- 
		Temporary disble AOP
		-javaagent:/Users/rich/.m2/repository/aspectj/aspectjweaver/1.5.3/aspectjweaver-1.5.3.jar
		<aop:spring-configured/>
	-->

	<bean id="performanceInterceptor" class="org.otherobjects.cms.PerformanceInterceptor" />

	<aop:config>
		<aop:aspect ref="performanceInterceptor">
			<!-- <aop:pointcut id="myCutLogging" expression="execution(* org.otherobjects.cms.controllers.SiteController*.*(..))" />
				<aop:pointcut id="myCutLogging" expression="execution(* org.apache.jackrabbit.ocm.manager.objectconverter.impl.ObjectConverterImpl*.*(..))" />  -->
			<aop:pointcut id="myCutLogging" expression="execution(* org.otherobjects.cms.dao.DynaNodeDao.*(..))" />
			<aop:around pointcut-ref="myCutLogging" method="log" />
		</aop:aspect>
	</aop:config>

	<bean name="siteController" class="org.otherobjects.cms.controllers.SiteController">
		<property name="navigatorService" ref="navigatorService" />
		<property name="daoService" ref="daoService" />
		<property name="userDao" ref="userDao" />
	</bean>

	<bean name="workbenchController" class="org.otherobjects.cms.controllers.WorkbenchController">
		<property name="localeResolver" ref="localeResolver" />
	</bean>

	<bean name="workbenchDataController" class="org.otherobjects.cms.controllers.WorkbenchDataController">
		<property name="typeService" ref="typeService" />
		<property name="dynaNodeDao" ref="dynaNodeDao" />
		<property name="daoService" ref="daoService" />
		<property name="typeDefBuilder" ref="typeDefBuilder"></property>
	</bean>

	<bean name="formController" class="org.otherobjects.cms.controllers.FormController">
		<property name="dynaNodeDao" ref="dynaNodeDao" />
		<property name="daoService" ref="daoService" />
		<property name="validator" ref="dynaNodeValidator" />
		<property name="bindService" ref="bindService" />
		<property name="typeDefBuilder" ref="typeDefBuilder" />
	</bean>

	<bean name="navigatorService" class="org.otherobjects.cms.workbench.NavigatorServiceImpl">
		<property name="dynaNodeDao" ref="dynaNodeDao" />
		<dwr:remote javascript="NavigatorService" />
	</bean>

	<bean name="contentService" class="org.otherobjects.cms.workbench.ContentServiceImpl">
		<property name="dynaNodeDao" ref="dynaNodeDao" />
		<dwr:remote javascript="ContentService" />
	</bean>

	<bean id="bindService" class="org.otherobjects.cms.binding.BindServiceImpl">
		<property name="daoService" ref="daoService" />
		<property name="dateFormat">
			<value>dd/MM/yy</value>
		</property>
	</bean>
	
	<bean id="typeDefBuilder" class="org.otherobjects.cms.types.AnnotationBasedTypeDefBuilder">
	
	</bean>
	
	<bean name="bootstrapUtils" class="org.otherobjects.cms.util.BootstrapUtils" init-method="bootstrap">
		<property name="daoService" ref="daoService" />
	</bean>


	<bean name="singletonBeanLocator" class="org.otherobjects.cms.SingletonBeanLocator" />

	<bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="/go/workbench/form/**">formController</prop>
				<prop key="/go/workbench/data/**">workbenchDataController</prop>
				<prop key="/go/workbench/*">workbenchController</prop>
				<prop key="/go/**">siteController</prop>
				<prop key="/go/*">siteController</prop>
			</props>
		</property>
		<property name="alwaysUseFullPath" value="true" />
	</bean>

	<bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath" value="/" />
		<property name="velocityProperties">
			<props>
				<prop key="velocimacro.permissions.allow.inline.local.scope">true</prop>
				<prop key="velocimacro.permissions.allow.inline.to.replace.global">true</prop>
				<prop key="velocimacro.arguments.strict">true</prop>
				<prop key="velocimacro.library.autoreload">true</prop>
				<prop key="velocimacro.library">otherobjects.resources/templates/macros/workbench.vm</prop>
				<prop key="file.resource.loader.cache">false</prop>
				<prop key="encoding.default">UTF-8</prop>
				<prop key="directive.set.null.allowed">true</prop>
			</props>
		</property>
	</bean>

	<bean id="viewResolver" class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
		<property name="cache" value="false" />
		<property name="prefix" value="" />
		<property name="requestContextAttribute" value="requestContext" />
		<property name="dateToolAttribute" value="dateTool" />
		<property name="numberToolAttribute" value="numberTool" />
		<property name="viewClass" value="org.otherobjects.cms.views.VelocityView" />
	</bean>
	
	<bean id="viewToolsService" class="org.otherobjects.cms.views.ViewToolsServiceImpl">
		<property name="toolsMap">
			<map>
				<entry>
					<key>
						<value>stringTool</value>
					</key>
					<value>org.apache.commons.lang.StringUtils</value>
				</entry>
			</map>
		</property>
		<property name="beansMap">
			<map>
				<entry>
					<key>
						<value>daoService</value>
					</key>
					<ref bean="daoService" />
				</entry>
			</map>
		</property>
	</bean>

	<!-- 
		<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="10000000" />
		</bean>
	-->
	<bean id="beanNameViewResolver" class="org.springframework.web.servlet.view.BeanNameViewResolver">
		<property name="order">
			<value>1</value>
		</property>
	</bean>

	<bean id="jsonView" class="org.otherobjects.cms.views.JsonView">
		<property name="messageSource" ref="messageSource" />
	</bean>

	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="defaultLocale">
			<value>en_GB</value>
		</property>
		<property name="cookieName">
			<value>ooWorkbenchLocale</value>
		</property>
		<property name="cookieMaxAge">
			<value>1000</value>
		</property>
	</bean>

</beans>