<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Repository -->
	<bean id="repository" class="org.springmodules.jcr.jackrabbit.RepositoryFactoryBean">
		<property name="configuration" value="${jcr.config.path}" />
		<property name="homeDir" value="${jcr.repository.location}" />
	</bean>
	<bean id="jcrSessionFactory" class="org.otherobjects.cms.jcr.OtherObjectsJackrabbitSessionFactory">
		<property name="repository" ref="repository" />
		<property name="credentials">
			<bean class="javax.jcr.SimpleCredentials">
				<constructor-arg index="0" value="${jcr.username}" />
				<constructor-arg index="1">
					<bean factory-bean="password" factory-method="toCharArray" />
				</constructor-arg>
			</bean>
		</property>
	</bean>
	<bean id="password" class="java.lang.String">
		<constructor-arg index="0" value="${jcr.password}" />
	</bean>

	<!-- Transaction support  -->
	<bean id="jcrTransactionManager" class="org.springmodules.jcr.jackrabbit.LocalTransactionManager">
		<property name="sessionFactory" ref="jcrSessionFactory" />
	</bean>
	<bean id="baseTransactionProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" abstract="true">
		<property name="transactionManager" ref="jcrTransactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_NOT_SUPPORTED</prop>
				<prop key="publish">PROPAGATION_NOT_SUPPORTED</prop>
			</props>
		</property>
	</bean>

	<!-- Mapping -->
	<bean id="jcrMappingDescriptor" class="org.otherobjects.cms.jcr.TypeServiceMapperImpl">
		<constructor-arg index="0" value="classpath:otherobjects.resources/config/jcr-mapping.xml" />
		<property name="typeService" ref="typeService" />
	</bean>
	<bean id="jcrMappingTemplate" class="org.springmodules.jcr.jackrabbit.ocm.JcrMappingTemplate">
		<constructor-arg index="0" ref="jcrSessionFactory" />
		<constructor-arg index="1" ref="jcrMappingDescriptor" />
		<!-- TODO Is is wise to allow create here? -->
		<property name="allowCreate" value="true" />
	</bean>
	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation">
			<value>classpath:ehcache.xml</value>
		</property>
	</bean>

	<!-- DAOs -->
	<bean id="universalJcrDao" parent="baseTransactionProxy">
		<property name="target">
			<bean class="org.otherobjects.cms.dao.UniversalJcrDaoJackrabbit">
				<property name="jcrMappingTemplate" ref="jcrMappingTemplate" />
				<property name="typeService" ref="typeService" />
				<property name="sessionFactory" ref="jcrSessionFactory" />
				<property name="validator" ref="typeDefConfiguredValidator" />
				<property name="cacheManager" ref="cacheManager" />
			</bean>
		</property>
	</bean>
	<bean id="folderDao" parent="baseTransactionProxy">
		<property name="target">
			<bean class="org.otherobjects.cms.model.FolderDaoImpl">
				<property name="jcrMappingTemplate" ref="jcrMappingTemplate" />
				<property name="sessionFactory" ref="jcrSessionFactory" />
				<property name="validator" ref="typeDefConfiguredValidator" />
				<property name="cacheManager" ref="cacheManager" />
			</bean>
		</property>
	</bean>
	
	<!-- DataStore -->
	<bean id="jackrabbitDataStore" class="org.otherobjects.cms.datastore.JackrabbitDataStore" />
</beans>