<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd ">

	<!-- General Freemarker config -->
	<bean id="freemarkerConfiguration" class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
		<property name="templateLoaderPaths">
			<list>
				<!-- Site tempates. Path in /webapp -->
				<value>/templates/</value>
				<!-- OTHERobjects templates loaded from class path -->
				<value>classpath:/otherobjects.resources/templates/</value>
			</list>
		</property>
		<property name="preTemplateLoaders">
			<list>
				<bean class="org.otherobjects.cms.io.OoResourceFreemarkerTemplateLoader">
					<constructor-arg ref="ooResourceLoader" />
				</bean>
			</list>
		</property>
		<property name="freemarkerVariables">
			<map>
				<entry key="daoService" value-ref="daoService" />
			</map>
		</property>
	</bean>
	
	<!-- freemarker config proxy that proxies a general freemarker config for use by FreemarkerView -->
	<bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="configuration" ref="freemarkerConfiguration" />
		
	</bean>

	<bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="cache" value="true" />
		<property name="prefix" value="" />
		<property name="suffix" value=".ftl" />
		<property name="requestContextAttribute" value="requestContext" />
	</bean>

</beans>