<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
 	 		              http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.xsd">

	<http auto-config="true">
		<!-- the order of these matters, the more specific the pattern the earlier it must appear  -->
		<intercept-url pattern="/otherobjects/debug/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/otherobjects/workbench/api/**" access="ROLE_USER" />
		<intercept-url pattern="/otherobjects/workbench/login.html" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/otherobjects/workbench/**" access="IS_AUTHENTICATED_REMEMBERED" />
<!--		<intercept-url pattern="/go/workbench/api/**" access="ROLE_USER" />-->
<!--		<intercept-url pattern="/go/workbench/login.html" access="IS_AUTHENTICATED_ANONYMOUSLY" />-->
<!--		<intercept-url pattern="/go/workbench/**" access="IS_AUTHENTICATED_REMEMBERED" />-->
		<intercept-url pattern="/go/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<form-login login-page="/otherobjects/workbench/login.html" />
		<logout logout-url="/go/logout.html" logout-success-url="/go" />
	</http>
	
	<authentication-provider user-service-ref="userDao" >
		<password-encoder hash="sha" >
			<!-- TODO Create salt souce on startup 
			<salt-source system-wide="123456790" /> -->
		</password-encoder>
		
	</authentication-provider>
	
	<beans:bean id="passwordEncoder" class="org.springframework.security.providers.encoding.MessageDigestPasswordEncoder">
    	<beans:constructor-arg value="SHA-256" />
    </beans:bean>
	
	<beans:bean id="saltSource" class="org.springframework.security.providers.dao.salt.SystemWideSaltSource">
		<beans:property name="systemWideSalt" value="1234567890" />
	</beans:bean>
</beans:beans>