<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Repository -->

	<bean id="repository" class="org.springmodules.jcr.jackrabbit.RepositoryFactoryBean">
		<property name="configuration" value="${jcr.config.path}" />
		<property name="homeDir" value="${jcr.repository.location}" />
	</bean>

	<bean id="jcrSessionFactory" class="org.otherobjects.cms.jcr.OtherObjectsJackrabbitSessionFactory">
		<property name="repository" ref="repository" />
		<property name="credentials">
			<bean class="javax.jcr.SimpleCredentials">
				<constructor-arg index="0" value="${jcr.username}" />
				<constructor-arg index="1">
					<bean factory-bean="password" factory-method="toCharArray" />
				</constructor-arg>
			</bean>
		</property>
	</bean>

	<bean id="password" class="java.lang.String">
		<constructor-arg index="0" value="${jcr.password}" />
	</bean>

	<!-- Setup -->
	<bean name="setupUtils" class="org.otherobjects.cms.util.SetupUtils" init-method="bootstrap">
		<property name="sessionFactory" ref="&amp;sessionFactory" />
		<property name="jcrSessionFactory" ref="jcrSessionFactory" />
		<property name="nodeTypesConfig" value="classpath:otherobjects.resources/config/node-types.cnd" />
		<property name="systemDataTypes" value="classpath:otherobjects.resources/bootstrap-data/jcr-data-types.xml" />
		<property name="siteDataTypes" value="classpath:site.resources/bootstrap-data/jcr-data-types.xml" />
	</bean>

	<bean name="bootstrapUtils" class="org.otherobjects.cms.util.BootstrapUtils" init-method="bootstrap">
		<property name="jcrTypeService" ref="typeService" />
		<property name="daoService" ref="daoService" />
		<property name="bootstrapScript" value="classpath:otherobjects.resources/bootstrap-data/setup.script" />
	</bean>

	<!-- Mapping -->
	<bean id="jcrMappingDescriptor" class="org.otherobjects.cms.jcr.TypeServiceMapperImpl">
		<constructor-arg index="0" value="classpath:otherobjects.resources/config/jcr-mapping.xml" />
		<property name="typeService" ref="typeService" />
	</bean>

	<bean id="jcrMappingTemplate" class="org.apache.jackrabbit.ocm.spring.JcrMappingTemplate">
		<constructor-arg index="0" ref="jcrSessionFactory" />
		<constructor-arg index="1" ref="jcrMappingDescriptor" />
	</bean>

	<!-- Transaction support -->

	<bean id="jcrTransactionManager" class="org.springmodules.jcr.jackrabbit.LocalTransactionManager">
		<property name="sessionFactory" ref="jcrSessionFactory" />
	</bean>

	<bean id="baseTransactionProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
		abstract="true">
		<property name="transactionManager" ref="jcrTransactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

	<!-- 
		<bean name="dynaNodeValidator" class="org.otherobjects.cms.validation.DynaNodeValidator">
		<property name="typeService" ref="typeService" />
		</bean>
	-->

	<bean id="annotationBasedTypeDefBuilder" class="org.otherobjects.cms.types.AnnotationBasedTypeDefBuilder" />


	<!-- Types service -->
	<bean name="typeService" class="org.otherobjects.cms.types.TypeServiceImpl" init-method="init"
		depends-on="setupUtils">
		<!--		<property name="typeDefDao" ref="typeDefDao" />-->
		<property name="jcrBeanService" ref="jcrBeanService" />
		<property name="annotationBasedTypeDefBuilder" ref="annotationBasedTypeDefBuilder"></property>
	</bean>

	<bean name="jcrBeanService" class="org.otherobjects.cms.beans.JcrBeanService"></bean>

	<!-- Domain objects 
		<bean name="dynaNode" scope="prototype">
		<property name="typeService" ref="typeService" />
		</bean>
	-->

	<!-- DAOs
		<bean id="dynaNodeDao" parent="baseTransactionProxy">
		<property name="target">
		<bean class="org.otherobjects.cms.dao.DynaNodeDaoJackrabbit">
		<property name="jcrMappingTemplate" ref="jcrMappingTemplate" />
		<property name="typeService" ref="typeService" />
		<property name="sessionFactory" ref="jcrSessionFactory" />
		</bean>
		</property>
		</bean>
	-->
	<bean id="universalJcrDao" parent="baseTransactionProxy">
		<property name="target">
			<bean class="org.otherobjects.cms.jcr.UniversalJcrDaoJackrabbit">
				<property name="jcrMappingTemplate" ref="jcrMappingTemplate" />
				<property name="sessionFactory" ref="jcrSessionFactory" />
				<property name="ruleExecutor" ref="publishRules"></property>
			</bean>
		</property>
	</bean>
	<bean id="cmsImageDao" parent="baseTransactionProxy">
		<property name="target">
			<bean class="org.otherobjects.cms.model.CmsImageDaoImpl">
				<property name="jcrMappingTemplate" ref="jcrMappingTemplate" />
				<property name="sessionFactory" ref="jcrSessionFactory" />
				<property name="ruleExecutor" ref="publishRules"></property>
			</bean>
		</property>
	</bean>

	<bean name="daoService" class="org.otherobjects.cms.dao.DaoServiceImpl">
		<property name="daoMap">
			<map>
				<entry>
					<key>
						<value>org.otherobjects.cms.model.CmsImage</value>
					</key>
					<ref bean="cmsImageDao" />
				</entry>
				<entry>
					<key>
						<value>org.otherobjects.cms.model.User</value>
					</key>
					<ref bean="userDao" />
				</entry>
			</map>
		</property>
	</bean>

</beans>