<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="publishRules" class="org.otherobjects.cms.rules.RuleBaseFactory">
		<property name="config">
			<value>
				url=http://localhost:8090/drools-jbrms/org.drools.brms.JBRMS/package/Publish/first
				poll=30
				name=Publish_first
			</value>
		</property>
		<property name="cacheDir" value="WEB-INF/drools-cache" />
		<property name="ruleDir" value="WEB-INF/drools-rules" />
	</bean>
	
</beans>