<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd ">

	<!-- Bootstrap -->
	<bean name="jackrabbitSetupUtils" class="org.otherobjects.cms.util.DataStoreSetupUtils" init-method="bootstrap">
		<property name="sessionFactory" ref="&amp;sessionFactory" />
		<property name="jcrSessionFactory" ref="jcrSessionFactory" />
		<property name="nodeTypesConfig" value="classpath:otherobjects.resources/config/node-types.cnd" />
	</bean>

	<bean name="ooBootstrapUtils" class="org.otherobjects.cms.util.OtherObjectsBootstrapUtils" init-method="bootstrap">
		<property name="bootstrapScript" value="classpath:otherobjects.resources/bootstrap-data/setup.script" />
		<property name="userDao" ref="userDao" />
		<property name="roleDao" ref="roleDao" />
		<property name="universalJcrDao" ref="universalJcrDao" />
	</bean>
</beans>