<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Types -->
	<bean name="typeService" class="org.otherobjects.cms.types.TypeServiceImpl" init-method="init">
		<property name="annotationBasedTypeDefBuilder" ref="annotationBasedTypeDefBuilder"></property>
	</bean>
	
	<bean id="annotationBasedTypeDefBuilder" class="org.otherobjects.cms.types.AnnotationBasedTypeDefBuilder" />
	
	<!-- Binder -->
	<bean id="bindService" class="org.otherobjects.cms.binding.BindServiceImpl">
		<property name="daoService" ref="daoService" />
		<property name="dateFormat">
			<value>dd/MM/yy</value>
		</property>
	</bean>
	
	<bean name="daoService" class="org.otherobjects.cms.dao.DaoServiceImpl">
	</bean>
	
</beans>