Site
----

* Dublin-core metadata
* Multiple domains per server (with shared user base though -- what about template grouping though?)


Security
--------

* Multiple authentication mechanisms (DB, LDAP)
* Easy hot backups (hourly, nightly) with Amazon S3 integration

Design
------

Search
------


Intelligence
------------

* Search info
* Page views per last day/last week/last month/last year. Updated houly?

Tuning
------
JCR/page
JDBC/page
Times/page
TPTP integration howto