


<style>
@import url('/resources/otherobjects.resources/static/extjs/src/ext-all.css');

#OoToolbar {position:fixed;bottom:0px; width:1500px; height:30px; color:white; background:#000000; opacity:0.75; font:80% Arial;}
#OoToolbar A {color:white;}
#OoToolbar .logo {float:left; width:30px; height:30px; background:#FFFFFF url('/resources/otherobjects.resources/static/graphics/favicon.ico') no-repeat 7px 7px; opacity:1.0;}
#OoToolbar .info-false {float:left; padding:7px 0px 5px 25px; background:url('/resources/otherobjects.resources/static/icons/bullet-red.png') no-repeat 7px 7px;}
#OoToolbar .info-true {float:left; padding:7px 0px 5px 25px; background:url('/resources/otherobjects.resources/static/icons/bullet-green.png') no-repeat 7px 7px;}

.head {}
.head-bg {background:#660000; opacity:0.8; position:fixed; width:100%; height:90px;color:white;padding:10px;top:-150px;}
.head {font:90% Arial; position:fixed; width:100%; height:100px;color:white;padding:10px;top:-150px;}
.head P {float:left; clear:both; padding-bottom:5px;}
.head STRONG {font-weight:bold; width:100px; float:left;}

.info {}
.info-bg {background:#000066; opacity:0.8; position:fixed; width:100%; height:430px;color:white;padding:10px;top:-500px;}
.info {font:80% Arial; position:fixed; width:700px;color:white;padding:10px;top:-500px;}
.info H1 {font:bold 120% Arial;padding-top:10px;}
.info STRONG {font-weight:bold;}
</style>

<div id="InfoBg" class="info-bg"></div>
<div id="Info" class="info">
<h1>Page ingo</h1>
<p><strong>Resource:</strong> $!resourceObject</p>
<p><strong>Template:</strong> $!template</p>
Tempate

<h1>Objects in context</h1>
$ctxInfo.describeContext()
<h1>CmsImageTool methods</h1>
$ctxInfo.describeTool("cmsImageTool")
##<h1>NumberTool methods</h1>
##$ctxInfo.describeTool("numberTool")
</div>

<div id="HeadBg" class="head-bg"></div>
<div id="Head" class="head">
<p><strong>Title:</strong> $!title</p>
<p><strong>Keywords:</strong> $!keywords</p>
<p><strong>Description:</strong> $!description</p>
<p><strong>Creator:</strong> $!creator</p>
</div>

<div id="OoStats" style="visibility:hidden;position:absolute;top:0px;">
	<div class="x-dlg-hd">Performance statistics</div>
	<div class="x-dlg-bd" id="grid-example" style="height:50px;"></div>
</div>

<div id="OoToolbar">
<p id="ooLogo" class="logo"></p>
<p class="info-$resourceObject.published">$resourceObject.typeDef.label: $resourceObject.label &nbsp;&nbsp;
| &nbsp;&nbsp;<a href="#" id="ooHeadLink">Show meta data</a> &nbsp;&nbsp;
| &nbsp;&nbsp;<a href="#" id="ooInfoLink">Show context data</a> &nbsp;&nbsp;
</div>
<script type="text/javascript" src="/resources/otherobjects.resources/static/extjs/src/ext-base.js"></script>
<script type="text/javascript" src="/resources/otherobjects.resources/static/extjs/src/ext-all.js"></script>

<script>
var expanded = false;
function init() {
	Ext.get('ooHeadLink').on('click', function() {
		Ext.get("Head").animate({"top":{ to:'0' }},0.5);
		Ext.get("HeadBg").animate({"top":{ to:'0' }},0.5);
	});
	Ext.get("Head").on("click", function() {
		Ext.get("Head").animate({"top":{ to:'-150' }},0.5);
		Ext.get("HeadBg").animate({"top":{ to:'-150' }},0.5);
	});
	Ext.get('ooInfoLink').on('click', function() {
		Ext.get("Info").animate({"top":{ to:'0' }},0.5);
		Ext.get("InfoBg").animate({"top":{ to:'0' }},0.5);
	});
	Ext.get("Info").on("click", function() {
		Ext.get("Info").animate({"top":{ to:'-500' }},0.5);
		Ext.get("InfoBg").animate({"top":{ to:'-500' }},0.5);
	});	
	Ext.get('ooLogo').on('dblclick', function() {
		window.location='/go/workbench/';
	});
	Ext.get('ooLogo').on('click', function() {
		if(expanded) {
			Ext.get('OoToolbar').animate({width:{ to:'0' }},0.5);
			expanded = false;
		}	
		else {
			Ext.get('OoToolbar').animate({width:{ to:'1500' }},0.5);
			expanded = true;
		}
	});
}
Ext.onReady(init);

Ext.onReady(function() {
  var map = new Ext.KeyMap("Body", {
      key: Ext.EventObject.ESC,
      fn: toggleStats
  });
});

var dialog;
function toggleStats()
{
	if(!dialog) {
		var ds = new Ext.data.Store({
			proxy: new Ext.data.MemoryProxy(ooQueries),
		  	reader: new Ext.data.ArrayReader({}, [
		               {name: 'type'},
		               {name: 'details'},
		               {name: 'time', type: 'float'}
		          ])
		});
		ds.load();
	
		// custom or reusable ColumnModels
		var colModel = new Ext.grid.ColumnModel([
		  {header: "Type", width: 50, sortable: true, dataIndex: 'type'},
		  {header: "Details", width: 350, sortable: true, dataIndex: 'details'},
		  {header: "Time (ms)", width: 75, sortable: true, dataIndex: 'time'}
		]);
		
		var grid = new Ext.grid.Grid('grid-example', {
		    ds: ds,
		    cm: colModel
		});
    
		dialog = new Ext.BasicDialog("OoStats", {
		        modal:true,
		        autoTabs:true,
		        width:500,
		        height:300,
		        shadow:true,
		        minWidth:300,
		        minHeight:300
		});
		// TODO Doesn't work: 
		// dialog.addKeyListener(Ext.EventObject.ENTER, dialog.hide, dialog);
		dialog.addButton('Close', dialog.hide, dialog);
		grid.render();
	}
	
	// Toggle display
	if(dialog.isVisible())
		dialog.hide();
	else
		dialog.show();
}


</script>