##
## Velcoity macros used by the OTHERobjects.
##

#macro(ooLayoutBlock $blockCode)
  #parse("/site.resources/templates/blocks/$blockCode")
#end

#macro(ooLayoutRegion $regionCode)
  #foreach($region in $template.regions)
    #if($region.code == $regionCode)
      #foreach($block in $region.blocks)
		#ooLayoutBlock($block.code)
      #end
    #end
  #end
#end
