##
## Velocity macro library for use in sites.
##


## 
## ooNavigation macro
##
## TODO Add support for including home folder
## TODO Add support for depths
##
#macro(ooNavigation $container $outerTags)
#if($outerTags)<ul>#end

#foreach($item in $container)
    <li>
    #if($resourceObject.jcrPath.startsWith($item.jcrPath))<strong>#end
    <a href="$item.linkPath">$item.label</a>
    #if($resourceObject.jcrPath.startsWith($item.jcrPath))</strong>#end
    </li>
	#set($children = $navigatorService.getSubContainers($item.id))
    #if($children.size()>0)
    ##nav($children true)
    #end
#end

#if($outerTags)</ul>#end
#end

## 
## ooNavigation macro Mk II
##
## TODO Add support for including home folder
## TODO Add support for depths
##
#*
#macro(nav $container $outerTags)
#if($outerTags)<ul>#end

#foreach($item in $navigatorService.getSiteItems($container))
    <li>#set($current = $resourceObject.href.equals($item.href))#if($current)<strong>#end<a href="$item.href">$item.title</a>#if($current)</strong>#end</li>
    #if($item.folder) #nav($item true) #end
#end

#if($outerTags)</ul>#end
#end
*#

#macro(nav $siteItem $outerTags $minLevel $maxLevel)
#if($outerTags)<ul>#end

#foreach($item in $navigatorService.getSiteItems($siteItem, $minLevel))
	#if($item.inMenu)
    <li>#set($current = $resourceObject.href.equals($item.href))#if($current)<strong>#end<a href="$item.href">$item.navigationLabel</a>#if($current)</strong>#end</li>
	##set($newMin = $item.depth)
    #if($item.folder && $item.depth < $maxLevel) #nav($item true $item.depth $maxLevel) #end
	#end
#end

#if($outerTags)</ul>#end
#end

#macro(breadcrumb)
	<ul class="breadcrumb">
	#foreach($crumb in $trail.crumbs)
		<li><a href="$crumb.href">$crumb.navigationLabel</a></li>
	#end
	</ul>
#end


## 
## ooImage macros
##
#macro(ooImage $image $width $height $cssClass)##
#set($ims=$cmsImageTool.getSize($image,$width, $height))##
<img src="$ims.dataFile.externalUrl" class="$!cssClass" width="$ims.width" height="$ims.height" alt="$!image.label" title="$!image.description"/>
#end